@using DogGo.Helpers
@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Walker Profile";
}

<div class="container">
    <div class="row">
        <h3 class="offset-1">Walker Profile</h3>
    </div>
    <div class="row">
        <div class="col-2 offset-1">
            <img height="10" class="img-thumbnail" src="@Model.Walker.ImageUrl" alt="profile image" />
        </div>
        <div class="col-2">
            <dl class="row">
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <h3>Recent Walks</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Client</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Walk walk in Model.Walks)
                    {
                        <tr>
                            <td>@walk.Date.ToShortDateString()</td>
                            <td>@walk.Dog.Owner.Name</td>
                            <td>@Helpers.DurationToFullTime(walk.Duration)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-5">
            Total Walk Time: @Helpers.DurationToFullTime(Model.TotalWalkDuration)
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Walker.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
